<p class="text-center text-muted">&copy; Copyright 2023 Avinash Joshi</p>
<script type="text/javascript" class="init">
		




$('#myTable').DataTable({
    autoWidth: false,
    columnDefs: [
        {
            targets: ['_all'],
            className: 'mdc-data-table__cell',
        },
    ],
});

$('#deviceloggerTable').DataTable({
    autoWidth: false,
    columnDefs: [
        {
            targets: ['_all'],
            className: 'mdc-data-table__cell',
        },
    ],
});


</script>

<script>
    document.getElementById("resetButton").addEventListener("click", function() {
        document.getElementById("myForm").reset();
    });

</script>

<!-- <script src="stepper.js"></script> -->