<p class="text-center text-muted">&copy; Copyright 2023 Avinash Joshi</p>
<script type="text/javascript" class="init">
		
    new DataTable('#myTable');
    new DataTable('#deviceloggerTable');
</script>

<script>
    document.getElementById("resetButton").addEventListener("click", function() {
        document.getElementById("myForm").reset();
    });

</script>

<!-- <script src="stepper.js"></script> -->